body{
    margin: 0;
    padding: 5px;
}

nav{
    border: solid 3px black;
    padding: 10px;
}

section.calculatorSect{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;

}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 350px;

    & label{
        text-align: center;
        font-size: 2rem;
        
    }
    
    & input, button{
        height: 25px;

    }

    & small{
        text-align: center;

    }
}

#showResults{
    margin: auto;
    border: solid 2px black;
}